/* CSS for CHINESE App */


body {background-color: rgb(233, 244, 248);}

.word-card{
  width: 50%;
  height: 50%;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.buttons{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}