/* CSS for CHINESE App */
a{
  text-decoration: none;
  color: inherit;
}

/* 
.body{background-color: rgb(46, 171, 217);}

.word-card{
  width: 50%;
  height: 50%;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.create-list{
  width: 60%;
  height: 50%;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 
}
.about-card{
  width: 60%;
  height: 50%;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5%;
}*/

.fab{
  top: 5vw;
  position: absolute;
  right: 0px;
  width: 350px;
  padding: 10px;
}
@media screen and (max-width: 767px) {

  .fab {
    display: none;
  }
  
}
/*
.buttons{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.input-bar{
  display: flex;
  justify-content: space-between;
} */